* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
  color: black;
}

.App {
  background-color: white;
}

.login{
  text-align: center;
}

.error{
  color: tomato;
  text-align: center;
  font-weight: bolder;
  padding-top: 20px;
  padding-left: 20px;
}

.errors{
  color: tomato;
  text-align: center;
  font-weight: bolder;
  padding-top: 20px;
  padding-left: 20px;
}


.nav {
  display: flex;
}

.nav1{
  font-weight: 540;
  font-size: 20px;
  color: whitesmoke;
  background-color: black;
  height: 65px;
  width: 90px;

}

.nav1:hover{
  opacity: 80%;
  font-style: oblique;
  cursor: pointer;
}

.nav2{
  font-weight: 540;
  font-size: 20px;
  color: whitesmoke;
  background-color: black;
  height: 65px;
  width: 90px;
}

.nav2:hover{
  opacity: 80%;
  font-style: oblique;
  cursor: pointer;
}

.nav3{
  font-weight: 540;
  font-size: 17px;
  color: whitesmoke;
  background-color: black;
  height: 65px;
  width: 90px;
}

.nav3:hover{
  opacity: 80%;
  font-style: oblique;
  cursor: pointer;
}

#category_name{
  font-size: 70px;
}

#category_name:hover{
  color: yellowgreen;
}

#map{
  font-size: 85px;
  margin: 0;
}

#all_cat{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 margin-left: 140px;
}

.home {
  text-align: center;
  color: orange;
}

.trip_page{
  text-align: center;
  font-size: 25px;
}

#form_error{
  text-align: center;
  color: tomato;
  padding-left: 185px;
  margin-bottom: 0px;
  
}

.add_cat_button{
  border: none;
  font-weight: 540;
  font-size: 20px;
  color: whitesmoke;
  background-color: black;
  height: 40px;
  width: 320px;
}

.add_cat_button:hover{
  background-color: yellowgreen;
  border: none;
}

#add_cat{
  margin-left: 500px;
  margin-top: 70px;
  display: flex;
  align-items: center;
  width: 400px;
  height: 220px;
  border: 8px double;
  border-radius: 6px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
}

#add_cat label{
  text-align: center;
  width: 340px;
  font-weight: bolder;
  font-size: 18px;
}

#add_cat input{
  font-size: 17px;
}

.add_trip{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#add_trip_form{
  border: double black;
  border-width: 10px;
  margin-top: 40px;
  padding-bottom: 25px;
  height: 360px;
  width: 500px;
  padding-left: 30px;
  padding-right: 120px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
}

#pin{
  margin-left: 174px;
  font-size: 20px;
}

#pin_label{
  font-size: 14px;
}

#lodging_label{
  margin-left: 175px;
  font-size: 19px;
  font-weight: bold;
}

#lodging{
  margin-left: 190px;
  margin-top: 10px;
  font-size: 15px;
}

#p{
  font-size: 16px;
  font-weight: bolder;
  margin-left: 75px;
  margin-bottom: 8px;
}

#category_trip_form{
  text-align: center;
  margin-top: 0px;
  margin-left: 220px;
  padding-bottom: 20px;
  font-size: 45px;
}

#add_things_label{
  font-weight: bold;
  font-size: 17px;
  margin-left: 165px;
}

#add_things{
  border-style: solid;
  border-color: black;
  font-size: 12px;
  margin-left: 140px;
  margin-top: 10px;
}

#add_submit{
  border: none;
  font-weight: 540;
  font-size: 20px;
  color: whitesmoke;
  background-color: black;
  height: 40px;
  width: 320px;
  margin-left: 140px;
  margin-top: 30px;
}

#add_submit:hover{
  background-color: yellowgreen;
  cursor: pointer;
}

#success_message{
  font-size: 16px;
  text-align: center;
  margin-left: 100px;
  color: rgb(91, 133, 9);
}


#username{
  margin-bottom: 20px;
  text-decoration:overline;
}


hr {
  background-color: black;
  font-weight: bolder;
  height: 4.5px;
  width: 440px;
  margin-bottom: 70px;
}


#trip_card{
  display: inline-flex;
  padding: 20px;
  align-items: center;
}

#trip_card h5 {
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.button {
  border: none;
  background-color: black;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  width: 220px;
  height: 60px;
  margin-top: 0px;
}

.button:hover{
  background-color:yellowgreen;
}

#full_category{
  display: flex;
  margin-bottom: 15px;
  font-size: 65px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}


a{
  text-decoration: none;
}

a:hover{
  color: yellowgreen;
  cursor: pointer;
  font-style: oblique;
}


input {
  border-radius: 10px;
  border-style: solid
}

#select_form{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.select_trips{
  font-size: 30px;
  background-color: black;
  color: whitesmoke;
  width: 250px;
  margin-top: 0px;
}

#select_trips:hover{
  cursor: pointer;
}

#trips_hr{
  margin-bottom: 0px;
}

#trip_submit{
  border: none;
  border-radius: 0px;
  background-color: black;
  color: whitesmoke;
  margin-top: 10px;
  font-size: 22px;
}

#trip_submit:hover{
  background-color: yellowgreen;
  cursor: pointer;
}

#trip_p{
  margin-left: 590px
}

textarea{
  border-radius: 10px;
  border-style: solid
}

.submit{
  border: none;
  font-weight: 540;
  font-size: 20px;
  color: whitesmoke;
  background-color: black;
  height: 40px;
  width: 320px;
}

.submit:hover{
  background-color: yellowgreen;
  border: none;
}

#trip_hr {
  margin-top: 0px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;;
  border-width: 2px;
  width: 400px;
}

.full_trip{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#full_trip_hr{
  margin-bottom: 0px;
}

#where{
  font-size: 20px;
}

#full_lodging{
  margin-left: 0px;
  margin-top: 0px;
  font-size: 18px;
}

#what{
  font-size: 20px;
}

#full_things_to_see{
  margin-left: 0px;
  margin-top: 0px;
  font-size: 18px;
}

#edit_trip{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#edit_form{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;    
  align-items: center;
}

.edit_label{
  font-weight: bold;
  font-size: 25px;
}

.edit_input{
  font-style: italic;
  font-size: 19px;
}

#edit_text{
  font-style: italic;
  font-size: 18px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




