* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
  color: black;
}

.App {
  background-color: white;
}

.login{
  text-align: center;
}

.error{
  color: tomato;
  text-align: center;
  font-weight: bolder;
  padding-top: 20px;
  padding-left: 20px;
}

.errors{
  color: tomato;
  text-align: center;
  font-weight: bolder;
  padding-top: 20px;
  padding-left: 20px;
}


.nav {
  display: flex;
}

.nav1{
  font-weight: 540;
  font-size: 20px;
  color: whitesmoke;
  background-color: black;
  height: 65px;
  width: 90px;

}

.nav1:hover{
  opacity: 80%;
  font-style: oblique;
}

.nav2{
  font-weight: 540;
  font-size: 20px;
  color: whitesmoke;
  background-color: black;
  height: 65px;
  width: 90px;
}

.nav2:hover{
  opacity: 80%;
  font-style: oblique;
}

#category_name{
  font-size: 70px;
}

#map{
  font-size: 85px;
  margin: 0;
}

#all_cat{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 margin-left: 140px;
}

.home {
  text-align: center;
  color: orange;
}

.trip_page{
  text-align: center;
  font-size: 25px;
}

.add_cat_button{
  border: none;
  font-weight: 540;
  font-size: 20px;
  color: whitesmoke;
  background-color: black;
  height: 40px;
  width: 320px;
}

.add_cat_button:hover{
  background-color: yellowgreen;
  border: none;
}

#add_cat{
  margin-left: 600px;
  display: flex;
  align-items: center;
  width: 200px ;
  border: 8px double;
  border-radius: 6px;
}

#add_cat:hover{
  
}


#username{
  margin-bottom: 20px;
  text-decoration:overline;
}


hr {
  background-color: black;
  font-weight: bolder;
  height: 4.5px;
  width: 440px;
}


#trip_card{
  display: inline-flex;
  padding: 20px;
  align-items: center;
}

#trip_card h5 {
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.full_trip{
  text-align: center;
  color: orange;
}

.button {
  border: #41BB92;
  border-radius: 15px;
  background-color: #72b4c5;
  opacity: 90%;
  color: whitesmoke;
  width: 200px;
  height: 30px;
}

.button:hover{
  background-color: orange;
}

#delete_button{
  border:none;
  font-size: 15px;
  
}
#delete_button:hover{
  cursor: pointer;
}

#delete_trip{
  border:none;
  display: flex;
  align-items: center;
  font-size: 5px;
}

#delete_trip:hover{
  cursor: pointer;
}

a{
  color: orange;
}

a:hover{
  color: tomato
}

form {
  color: #72b4c5;
  font-weight: bold;
}

input {
  border-radius: 10px;
  border-style: solid
}

textarea{
  border-radius: 10px;
  border-style: solid
}

.submit{
  margin-bottom: 10px;
  border: black;
  opacity: 90%;
  color: whitesmoke;
  background-color: black;
  width: 100px;
  height: 20px;
}

.submit:hover{
  background-color: yellowgreen;
}

#trip_hr {
  margin-top: 0px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;;
  border-width: 2px;
  width: 400px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




